<h1>Discworld Disorganiser</h1>

<div class="row">
    <div class="col-xs-12">
        <p>Welcome to the Discworld Disorganiser.</p>
        <p>This application is designed to be a book and character search engine interface for the Discworld series of books.</p>
        <p>To use this application, click on either 'Books' or 'Characters', these will take you to a search screen where you can search for a book or character within the Discworld series</p>
    </div>
</div>

<h3>Technology Used</h3>
<div class='row'>
    <div class='col-xs-12'>
        <p>This application runs on .NET Core and Angular2, with TypeScript compiled client-side scripting</p>
        <p>The search functionality is provided by my dwCheckApi project. The source code for dwCheckApi can be found <a href="https://github.com/GaProgMan/dwCheckApi" target="_blank">here</a></p>
    </div>
</div>