<h1>Character Search</h1>

<div class="row">
    <div class="col-xs-12">
        <input [value]="searchString" (input)="searchString = $event.target.value" (keyup.enter)="getDwCharacter()"/>
        <button (click)="getDwCharacter()">Search</button>
    </div>
</div>

<div class="loader" *ngIf="loading">
    <p>Searching, please wait</p>
</div>

<div class="table-responsive" *ngIf="!loading && success && hasCharacters">
    <table class='table' *ngIf="characters">
        <thead>
        <tr>
            <th colspan="2">Name</th>
            <th>Books</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let char of characters">
            <td colspan="2">{{ char.characterName }}</td>
            <td>{{ char.booksAsString() }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row" *ngIf="!loading && !success">
    <div class="col-xs-12">
        No results found
    </div>
</div>